<!DOCTYPE html>
<html>
    
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">


	<style>
        
	</style>

</head>
<body>
	<!DOCTYPE html>
<html>
    
<head>
	<title>Application form for Teacher</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">


	<style>
		
	</style>

</head>
<body>
	
	<button><a href="{% url 'logout' %}">Logout</a>	</button>
	<table class="table align-middle mb-0 bg-white">
		<thead class="bg-light">
		  <tr>
			<th>DATE</th>
			<th>QUARTER-1</th>
			<th>QUARTER-2</th>
			<th>QUARTER-3</th>
			<th>QUARTER-4</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			<td>
			  <div class="d-flex align-items-center">				
				
				<div class="ms-3">
				{% for prof in profile %}
				  <p class="fw-bold mb-1">aa</p>
				 
				</div>
			  </div>
			</td>
			<td>
			  <p class="fw-normal mb-1">{{pro.name}}</p>
			  <p class="text-muted mb-0">{{pro.address}}</p>
			</td>
			<td>
			  <span class="">{{time}}</span>
			</td>
			<td>{{time}}</td>
			<td>
			  <button type="button" class="btn btn-link btn-sm btn-rounded">
				Edit
			  </button>
			</td>
		  </tr>
		  
			{% endfor %} 
		</tbody>
	  </table>
	
</body>


</html>